{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/landing_page.css' %}">
{% endblock %}

{% block content %}
<div class="main_info">
    <img src="{% static desired_image_url %}" class="welcome_image" alt="{{ image_alt_name }}">
    <div class="options-container">
        {% if can_create %}
            <a class="option" href="{% url register_url %}">Register {{ object_name }}</a>
        {% endif %}
        <a class="option" href="{% url download_url %}">Download data</a>

        {% if is_annotation %}
            <a class="option" href="{% url register_url appointment_id %}">Create {{ object_name }}</a>
        {% endif %}
    </div>
    <div class="cards-list">
        {% if is_annotation %}
            {% for object in objects %}
                <a href="{% url base_url appointment_id object.id %}" class="card">
                    {% for attribute in object.basic_info.values %}
                        <span class="item">{{ attribute }}</span>
                    {% endfor %}
                </a>
            {% endfor %}
        {% else %}
            {% for object in objects %}
                <a href="{% url base_url object.id %}" class="card">
                    {% for attribute in object.basic_info.values %}
                        <span class="item">{{ attribute }}</span>
                    {% endfor %}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
