{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/landing_page.css' %}">
{% endblock %}

{% block content %}
<div class="main_info">
    <img src="{% static desired_image_url %}" class="welcome_image" alt="{{ image_alt_name }}">
    <div class="options-container">
        <a class="option" href="{% url all_url %}">See all {{ object_name }}s</a>
        <a class="option" href="{% url register_url %}">Register {{ object_name }}</a>
    </div>
</div>
{% endblock %}
