{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/register_page.css' %}">
{% endblock %}

{% block content %}
<div class="register-container">
    <h1>{{ page_name }}</h1>
    <div class="user-form">
        {% for key, attribute in object.complete_info.items %}
            <div class="form-group">
                <label><strong>{{ key|capfirst }}:</strong></label>
                <div>{{ attribute }}</div>
            </div>
        {% endfor %}

        {% if is_pet %}
        {# For when you want to register an appointment for a pet directly from its page #}
            <a href="{% url 'register_appointment' pet_id %}" class="submit-btn" style="margin-top: 1rem; background-color: #b39ddb;">Get an appointment</a>
            <a href="{% url 'register_appointment' pet_id %}" class="submit-btn" style="margin-top: 1rem; background-color: #b39ddb;">Medic history</a>
        {% endif %}

        {% if is_appointment %}
        {# in case we are entering from an appointment view we want to show this options #}
            <a href="{% url 'annotations_appointment' object.id %}" class="submit-btn" style="margin-top: 1rem; background-color: #b39ddb;">Go to annotations</a>
            <a href="{% url 'register_annotation' object.id %}" class="submit-btn" style="margin-top: 1rem; background-color: #b39ddb;">Make annotation</a>
        {% endif %}

        <a href="{% url 'main_page' %}" class="submit-btn" style="margin-top: 1rem; background-color: #b39ddb;">Go to main page</a>

        {% if editable %}
            <a href="{% url edit_url object.id %}" class="submit-btn" style="margin-top: 2rem;">Edit</a>
            <form action="{% url delete_url object.id %}" method="GET" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="submit-btn" style="margin-top: 1rem; background-color: red;">
                    Delete
                </button>
            </form>

        {% elif is_annotation %}
            <a href="{% url edit_url appoinment_id object.id %}" class="submit-btn" style="margin-top: 2rem;">Edit</a>
            <form action="{% url delete_url appoinment_id object.id %}" method="GET" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="submit-btn" style="margin-top: 1rem; background-color: red;">
                    Delete
                </button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}