{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main_page/navbar_style.css' %}">
{% endblock %}

<nav class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'main_page' %}">
            <img src="{% static 'main_page/images/VetLogo.png' %}" alt="Logo" onclick="">
        </a>
    </div>

    <div class="navbar-buttons">
        <a href="{% url 'main_page' %}" class="navbar-btn">Home</a>
        <a href="{% url 'pets_landing_page' %}" class="navbar-btn">Mascotas</a>
        <a href="{% url 'users_landing_page' %}" class="navbar-btn">Usuarios</a>
        <a href="{% url 'appointments_landing_page' %}" class="navbar-btn">Citas</a>
        <a href="{% url 'surgeries_landing_page' %}" class="navbar-btn">Cirugias</a>
        <a href="#" class="navbar-btn">Sobre nosotros</a>
        <a href="#" class="navbar-btn">Contacto</a>
    </div>
</nav>