{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main_page/landing_page.css' %}">
{% endblock %}

{% block content %}
    <img src="{% static 'main_page/images/ImageForVeterinary.png' %}" class="welcome_image" alt="Pets Posing" width="1000" >
    <div class="welcome_paragraph">
        <h1>Bienvenido a Amigos Peludos</h1>
        <p>La clinica veterinaria con mas trayectoria y exitos en Medellin</p><br>
        <p>Estamos disponibles para ti 24/7</p>
    </div>
{% endblock %}