{% extends "base.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/landing_page.css' %}">
{% endblock %}

{% block content %}
<div class="main_info">
    <img src="{% static 'users/images/WomenHoldingPet.png' %}" class="welcome_image" alt="Woman holding golder retriever">
    <div class="options-container">
        <a class="option" href="{% url 'all_users' %}">See all users</a>
        <a class="option" href="{% url 'register_user' %}">Register user</a>
        <a class="option" href="{% url 'particular_user' %}">Search particular user</a>
    </div>
</div>
{% endblock %}
