.main_info {
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;       
    gap: 2rem;                 
    height: calc(100vh - 80px);
    background-color: white;
    box-sizing: border-box;
    padding-top: 3rem;
}

.welcome_image {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.options-container {
    display: flex;
    gap: 2rem;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;              
    height: 60px;              
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background 0.2s;
    font-weight: 300;
    font-size: medium;
    font-family: 'Caprasimo', 'Comic Sans MS';
}

.option:hover {
    background-color: #b39ddb;
}
